@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: #f8f7f7;
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.dropdown-menu {
  font-size: 1em;
}

.text-primary {
  color: #1dbf73;
}

.bg-primary {
  background-color: #1dbf73 !important;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #1dbf73;
  border-color: #1dbf73;
}

/* ----------------------------------checkbox custom---------------------------------------- */
.checkbox-custom,
.radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: "";
  background: #ddd;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 2px;
  margin-right: 4px;
  text-align: center;
}

.radio-custom + .radio-custom-label:before {
  content: "";
  background: #ddd;
  border: 2px solid #dae3ec;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #1dbf73;
  border-radius: 50%;
  background-image: url(../assets/images/check.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: none;
}

.kaf-nav {
  box-shadow: 0px 9px 10px -15px #000;
  background-color: #fff;
}

.kaf-nav nav .navbar-nav {
  align-items: center;
}
.kaf-nav nav .navbar-brand img {
  width: 150px;
  height: auto;
}
.kaf-nav nav .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c3c5c8;
}
.kaf-nav nav .nav-link.active {
  color: #1dbf73;
}
.kaf-nav nav .nav-link:hover {
  color: #1dbf73;
}
.kaf-nav nav .nav-item img.icon {
  width: 29px;
  height: auto;
}
.kaf-nav nav .nav-item img.icon.bell {
  height: 25px;
  width: auto;
}
.kaf-nav nav .nav-item .badge {
  transform: translate(-70%, -4%) !important;
  font-weight: normal;
  font-size: 11px;
  padding: 5px;
}
.kaf-nav nav .nav-item.profile {
  height: 43px;
  width: 43px;
  border-radius: 50%;
}
.kaf-nav nav .nav-item.profile img {
  width: 100%;
  height: auto;
}
.kaf-nav nav .nav-item.profile .dropdown-toggle::after {
  display: none;
}
.kaf-nav nav .nav-item.profile button {
  padding: 0;
}
.kaf-nav nav .nav-item.profile .btn-check:focus + .btn,
.kaf-nav nav .nav-item.profile .btn:focus {
  box-shadow: none;
}
.kaf-nav nav .nav-item.profile .dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
  box-shadow: 0 0.225rem 0.65rem rgba(0, 0, 0, 0.075);
  border: none;
}
.kaf-nav nav .nav-item.profile li {
  padding: 10px;
}
.kaf-nav nav .nav-item.profile .inner-profile {
  display: flex;
  align-items: center;
}
.kaf-nav nav .nav-item.profile .inner-profile img {
  height: 38px;
  width: 38px;
}
.kaf-nav nav .nav-item.profile .name {
  margin: 0;
  font-size: 0.7em;
  font-weight: bold;
}
.kaf-nav nav .nav-item.profile .j-title {
  margin: 0;
  color: #8692a6;
  font-size: 0.7em;
}
.kaf-nav nav .nav-item.profile .link {
  color: #696f79;
  align-items: center;
}
.kaf-nav nav .nav-item.profile .link p {
  overflow: auto;
  white-space: nowrap;
}
.kaf-nav nav .nav-item.profile .link.logout {
  color: #f56342;
}
.kaf-nav nav .nav-item.profile li {
  border-bottom: 1px solid #f6f6f6;
}
.kaf-nav nav .nav-item.profile li.logout {
  min-width: 210px;
  border-bottom: none;
}
.kaf-nav nav .nav-item.profile .flag img {
  width: 20px;
  height: auto;
}
.kaf-nav nav .nav-item.profile .flag p {
  padding-right: 3px;
  border-right: 1px solid #f0f0f0;
}
.kaf-nav nav .nav-item.profile .flag .icon {
  padding-left: 3px;
}
.kaf-nav nav .badge {
  padding: 0.35em;
}
section.main-title {
  margin-top: 2em;
}
section.main-title .sm-title {
  color: #8692a6;
}
section.main-title .star label {
  font-size: 1.3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section.main-title p {
  font-size: 1.5em;
  font-weight: 600;
}
section.main-title img {
  width: 20px;
  height: auto;
}
section.main-title .like .unlike {
  display: block;
}
section.main-title .like .liked {
  display: none;
}

.m-section {
  margin: 2em 0;
}

section.desc p {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

section.add-ons .item {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
}
section.add-ons .item .checkbox-custom + .checkbox-custom-label:before {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
}
section.add-ons .item .checkbox-custom-label,
section.add-ons .item .radio-custom-label {
  padding-left: 43px;
}
section.add-ons .item .info p {
  border-radius: 3px;
  background-color: #e9f9f1;
  color: #1dbf73;
  display: inline-block;
  padding: 5px;
  margin: 10px 3px;
}

section.purchase .item {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.purchase .item input {
  color: #1dbf73;
  background-color: #fff;
  border: none;
  height: 30px;
  width: 30px;
  font-size: 1.7em;
}
section.purchase .item input.quantity-field {
  background-color: unset;
  color: #000;
  font-size: 1.3em;
}
section.purchase .item .counter {
  padding: 6px 3em;
  border-radius: 3px;
}
section.purchase .item .counter .input-group {
  justify-content: center;
}
section.purchase .item .counter,
section.purchase .item p {
  background-color: #f0f0f0;
}
section.purchase .item p {
  margin: 0 4px;
  padding: 10px 3em;
  border-radius: 5px;
  font-weight: 600;
}
section.purchase .item button {
  background-color: #1dbf73;
  color: #fff;
}

section.service-rating p {
  overflow: auto;
  white-space: nowrap;
}
section.service-rating span.star {
  color: #ffcb31;
  margin: 0 5px;
}
section.service-rating .item {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}
section.service-rating .item .inner-item {
  margin: 0 0 1em 0;
}
section.service-rating .item .inner-item > :first-child {
  flex: 2;
}
section.service-rating .item .inner-item > :nth-child(2) {
  flex: 1;
}
section.service-rating .item .inner-item > :nth-child(3) {
  flex: 1;
}
section.service-rating .stars {
  margin: 0 1.5em;
}
section.service-rating .stars span.inactive {
  color: #eee;
}
section.service-rating .progress {
  height: 0.6em;
}
section.service-rating .progress .progress-bar {
  background-color: #ffcb31;
}

section.reviews {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}
section.reviews .item {
  display: flex;
  margin-bottom: 1em;
}
section.reviews .item small {
  color: #8692a6;
}
section.reviews .item.add-review .body {
  flex: 2;
}
section.reviews .item.add-review .body textarea {
  background-color: #f6f6f6;
  color: #8692a6;
  border: none;
  resize: none;
}
section.reviews .item.add-review .body textarea::placeholder {
  color: #8692a6;
}
section.reviews .item.add-review .body .form-control:focus {
  border: 1px solid #1dbf73;
}
section.reviews .item.add-review button {
  background-color: #1dbf73;
  color: #fff;
  margin-top: 1em;
}
section.reviews .img img {
  height: auto;
  width: 42px;
}
section.reviews .body {
  padding: 0 10px;
}
section.reviews .stars {
  color: #ffcb31;
}
section.reviews .stars span.inactive {
  color: #eee;
}
section.reviews p {
  color: #333333;
}

section.suggested-services .card-text {
  font-weight: 500;
}
section.suggested-services .card-body span {
  color: #8692a6;
  margin: 0 2px;
}
section.suggested-services .card-body .star {
  color: #ffcb31;
}
section.suggested-services .card-body .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.suggested-services .card-body .footer span {
  color: #000;
  font-weight: 600;
}
section.suggested-services .card-body .footer i {
  color: #1dbf73;
}
section.suggested-services .card-body .footer .img {
  font-size: 0.8em;
  font-weight: 600;
}
section.suggested-services .card-body .footer img {
  height: 32px;
  width: 32px;
}
section.suggested-services .card {
  position: relative;
  max-width: 100%;
}
section.suggested-services .card .like {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
section.suggested-services .card .like img {
  width: 20px;
  height: auto;
}
section.suggested-services .card .like .unlike {
  display: block;
}
section.suggested-services .card .like .liked {
  display: none;
}

section.seller {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 2em;
  text-align: center;
}
section.seller .title {
  text-align: start;
}
section.seller .img {
  height: 40px;
  width: 40px;
}
section.seller .img img {
  max-width: 100%;
  height: auto;
}
section.seller .img .active {
  transform: translate(-58%, 163%);
  padding: 6px;
}
section.seller .credit {
  width: 15px;
  height: auto;
}
section.seller .address {
  color: #8692a6;
}
section.seller .stars {
  color: #ffcb31;
}
section.seller .stars span.inactive {
  color: #eee;
}
section.seller .icon-wrap {
  background-color: #f6f6f6;
  border-radius: 3px;
  padding: 7px 8px;
}
section.seller .icon-wrap img {
  width: 20px;
  height: auto;
}
section.seller button {
  background-color: #1dbf73;
  color: #fff;
}

section.info {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}
section.info .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}
section.info .item img {
  width: 17px;
  height: auto;
}

section.share-earn {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}
section.share-earn .items {
  display: flex;
  align-items: center;
}
section.share-earn .items img {
  width: 42px;
  height: auto;
}
section.share-earn .items .copy {
  background-color: #f2f2f2;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
section.share-earn .items .copy img {
  width: 20px;
}

section.other-services .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.other-services .title a {
  color: #c3c5c8;
}
section.other-services .item {
  display: flex;
  margin-top: 8px;
}
section.other-services .item img {
  width: 108px;
  height: auto;
  border-radius: 8px 0px 0 8px;
}
section.other-services .item span {
  color: #86869e;
}
section.other-services .item .star {
  color: #ffcb31;
}
section.other-services .item .body {
  padding: 10px;
  border-radius: 0px 8px 8px 0;
  background-color: #fff;
}
section.other-services .item .body .text {
  font-size: 12px;
  font-weight: 600;
}
section.other-services .item .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
section.other-services .item .footer .price {
  font-weight: 500;
  color: #000;
}
section.other-services .item .footer i {
  color: #1dbf73;
}
section.other-services .item .footer .like img {
  width: 20px;
  height: auto;
}
section.other-services .item .footer .like .unlike {
  display: block;
}
section.other-services .item .footer .like .liked {
  display: none;
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  float: left;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #fc2e5a;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}/*# sourceMappingURL=style.css.map */